MineClicker/Connected Services/AccountServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFServices.Models" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IAccountService_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetGlobalStats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGlobalStats" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetGlobalStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGlobalStatsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetPersonalStats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalStats" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetPersonalStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalStatsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetFriendsStats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsStats" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetFriendsStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsStatsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriends" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_RegisterPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayer" />
  </wsdl:message>
  <wsdl:message name="IAccountService_RegisterPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayerResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/LogIn" message="tns:IAccountService_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/LogInResponse" message="tns:IAccountService_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGlobalStats">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetGlobalStats" message="tns:IAccountService_GetGlobalStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetGlobalStatsResponse" message="tns:IAccountService_GetGlobalStats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonalStats">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetPersonalStats" message="tns:IAccountService_GetPersonalStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetPersonalStatsResponse" message="tns:IAccountService_GetPersonalStats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendsStats">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetFriendsStats" message="tns:IAccountService_GetFriendsStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetFriendsStatsResponse" message="tns:IAccountService_GetFriendsStats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetFriends" message="tns:IAccountService_GetFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetFriendsResponse" message="tns:IAccountService_GetFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/RegisterPlayer" message="tns:IAccountService_RegisterPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/RegisterPlayerResponse" message="tns:IAccountService_RegisterPlayer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IAccountService/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGlobalStats">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetGlobalStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonalStats">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetPersonalStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendsStats">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetFriendsStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayer">
      <soap:operation soapAction="http://tempuri.org/IAccountService/RegisterPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServicioWCF/AccountService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>