MineClicker/Connected Services/CurrentGameServiceReference/WCFServices.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServices.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServices.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBlock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Block" nillable="true" type="tns:Block" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlock" nillable="true" type="tns:ArrayOfBlock" />
  <xs:complexType name="Block">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlockID" type="xs:int" />
      <xs:element minOccurs="0" name="Hardness" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rarity" type="xs:int" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Block" nillable="true" type="tns:Block" />
</xs:schema>